
.main{
    grid-template-columns: max-content;

}

.class{
    display: flex;
    grid: 10px;
}

.game{


}

.playedsofar{

}

.result{

}


.grid{
    grid-area: auto;
    grid-column: auto;
    grid-row: auto;

    table-layout: auto;

    
}